docutils==0.17.0
libsass==0.20.1
pygments~=2.6.1
pygments-csv-lexer~=0.1
sphinx==5
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-serializinghtml
sphinxcontrib-qthelp
sphinx-tabs==3.4.5  # Compatibility with docutils==0.17.0
